.auth {
  $black: #171a21; 
  $light: #1b2838;
  $button: #253c58;
  $button-hover: #2e5788;

  width: 900px;
  display: flex;
  margin: auto;
  justify-content: space-between;

  .errors {
    color: red;
  }

  h1 {
      font-size: 23px;
      font-weight: 1;
      text-transform: uppercase;
    }

  aside {
    background-color:  $black;
    // margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: lightgray;
    width: 35%;

    ul {
      padding-left: 20px;
    }

    .joinPhoto {
      $width: 240px;
      $height: 135px;
      background: asset-url('joinGames.png');
      background-size: $width $height;
      width: $width;
      height: $height;
      margin: auto;
    }
  }

  // When on login page

  .loginDiv {
    background-color:  $black;
    width: 64%;
    display: flex;
    margin: auto;
    margin-left: 0px;
    justify-content: space-between;
    color: lightgray;
    margin-top: 20px;

    
  }

  .sessionDiv {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  $black;
    color: lightgray;



    div {
      margin: 10px 0px;
    }

    button {
      background-color: $button;
      color:lightblue;
      border: none;
      border-radius: 2px;
      margin-top: 20px;

    }

    button:hover {
      background-color: $button-hover;
      color: whitesmoke;
    }
  }

  .createDiv {
    border-left: none;
    width: 50%;
    padding: 10px;

    p {
      padding: 10px 0px;
    }

    .signupDiv {
      margin-top: 20px;
      width: 80px;
      height: 25px;
      text-align: center;

      // border: 1px solid lightgrey;
      background-color: $button;
      border-radius: 2px;

      a {
        display: block;
        margin-top: 3px;
        color:lightblue;
        text-decoration: none;
      }
    }

    .signupDiv:hover {
      background-color: $button-hover;
      a {
        color: whitesmoke;
      }
    }
  }

  // When on signup page
  .signup {
    margin: auto;
    margin-top: 20px;

  }
}