.auth {
  width: 900px;
  display: flex;
  margin: auto;
  justify-content: space-between;

  .errors {
    color: red;
  }

  h1 {
      font-size: 23px;
      font-weight: 1;
      text-transform: uppercase;
    }

  aside {
    background-color:  #33334d;
    // margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: lightgray;
    width: 35%;

    ul {
      padding-left: 20px;
    }

    img {
      width: 240px;
      height: 135px;
      margin: auto;
    }
  }

  // When on login page

  .loginDiv {
    background-color:  #33334d;
    width: 64%;
    display: flex;
    margin: auto;
    margin-left: 0px;
    justify-content: space-between;
    color: lightgray;
    margin-top: 20px;

    
  }

  .sessionDiv {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  #33334d;
    color: lightgray;



    div {
      margin: 10px 0px;
    }

    button {
      background-color: #67678f;
      color:cornflowerblue;
      border: 1px solid lightgrey;
      border-radius: 2px;
      margin-top: 20px;

    }

    button:hover {
      background-color: #8c8cc2;
      color: lightblue;
    }
  }

  .createDiv {
    border-left: lightgray 1px solid;
    width: 50%;
    padding: 10px;

    p {
      padding: 10px 0px;
    }

    .signupDiv {
      margin-top: 20px;
      width: 100px;
      height: 30px;
      text-align: center;

      border: 1px solid lightgrey;
      background-color: #67678f;
      border-radius: 2px;

      a {
        display: block;
        margin-top: 3px;
        color:cornflowerblue;
        text-decoration: none;
      }
    }

    .signupDiv:hover {
      background-color: #8c8cc2;
      a {
        color: lightblue;
      }
    }
  }

  // When on signup page
  .signup {
    margin: auto;
    margin-top: 20px;

  }
}