.cart {
  width: 900px;
  margin: auto;
}

.cart-component {
  width: 600px;
  // margin: auto;
}

  .page-title {
    font-size: 30px;
    font-weight: 10;
    text-transform: uppercase;
    margin: 10px 5px;
  }