$black: #171a21;
$button: #253c58;
$button-hover: #2e5788;

.featured-games {
  width: 1000px;
  margin: auto;

  h1 {
    font-size: 20px;
    font-weight: 10;
    margin: 10px 0px;
    margin-left: 50px;
    text-transform: uppercase;
  }

  .tabs {
    width: 900px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;

    .tab {
      width: 15px;
      height: 10px;
      background: $button;
      border-radius: 3px;
      margin: auto 3px;
      cursor: pointer;

      &:hover {
        background-color: #4b88d3;
      }
    }

    .selected {
      background: $button-hover;
    }
  }
}

.featured-carousel {
  display: flex;

  //  buttons
  .goLeft, .goRight {
    width: 50px;
    height: 110px;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    background-color: $black;
    cursor: pointer;

    .material-icons {
      font-size: 60px;
      color: lightgrey;
    }

    &:hover {
      background-color: $button-hover;
      .material-icons { color: white; }
    }
  }

  // gradients for buttons
  .goLeft {
    background: linear-gradient(90deg, rgba(23,26,33,1) 0%, rgba(23,26,33,0.5) 50%, rgba(23,26,33,0) 100%);
    border-radius: 5px 0px 0px 5px;
  }
  .goRight {
    background: linear-gradient(90deg, rgba(23,26,33,0) 0%, rgba(23,26,33,0.5) 50%, rgba(23,26,33,1) 100%);
    border-radius: 0px 5px 5px 0px;
  }

  // apply correct positions of arrows;
  .goLeft span {
    position: absolute;
    left: -5px;
  }
  .goRight span {
    position: absolute;
    right: -5px;
  }

  .featured-item {
    width: 900px;
    // padding: 10px;
    // height: 525px;
    display: flex;
    box-shadow: 1px 1px 10px 10px #171a21;
    background: #171a21ab;
    
    .main-img {
      width: 600px;
      height: 350px;
      object-fit: cover;
      cursor: pointer;
    }
    
    .grid-img {
      margin: auto;
      width: 147.6px;
      height: 86.1px;
      // width: 150px;
      // height: 87.5px;
      object-fit: cover;
      opacity: .7;
      cursor: pointer;
    }

    .grid-img:hover {
      opacity: 1;
      transition-duration: 0.25s;
    }

    .featured-grid {
      display: flex;
      flex-wrap: wrap;
    }

    aside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      height: 350px;
    }

    .game-title {
      margin: 10px;
      font-size: 18px;
    }

    .game-price {
      margin: 10px;
      font-size: 16px;
      color: lightskyblue;
    }
  }
}

