$button: #253c58;
$button-hover: #2e5788;

.games-show {
  width: 900px;
  margin: auto;
  margin-top: 20px;
  

  h2 {
    padding: 10px 3px;
    font-weight: 10;
  }
}

.show {
  display: flex;
}

.game-info {
  width: 295px;
  margin-left: 7px;
  font-size: 14px;
  
  .game-cover {
    padding: 4px;
  }

  .game-description {
    font-size: 16px;
  }

  p {
    padding: 5px;
  }

  .game-info-row {
    padding: 5px 4px;
    display: flex;
  }

  .game-field {
    width: 120px; 
    margin-right: 5px;
    color: grey;
    text-transform: uppercase;
  }

  .game-data {
    color: lightskyblue;
  }

  .game-tags {
    
    button {
      color: lightskyblue;
      border-radius: 3px;
      padding: 1px 5px;
      margin: 3px;
      background: $button;

      &:hover {
        background: $button-hover;
        color: lightcyan;
      }
    }
  }
}
