$button: #253c58;
$button-hover: #2e5788;

.games-show {
  width: 900px;
  margin: auto;
  margin-top: 20px;
  

  h2 {
    padding: 10px 3px;
    font-weight: 10;
  }
}

.show {
  display: flex;
}

.game-info {
  width: 295px;
  margin-left: 7px;
  font-size: 12px;
  
  .game-cover {
    padding: 4px;
  }

  .game-description {
    font-size: 14px;
  }

  p {
    padding: 5px;
  }

  .game-info-row {
    padding: 5px 4px;
    display: flex;
  }

  .game-field {
    width: 120px; 
    margin-right: 5px;
    color: grey;
    text-transform: uppercase;
  }

  .game-data {
    color: lightskyblue;
  }

  .game-tags {
    
    button {
      color: lightskyblue;
      border-radius: 3px;
      padding: 1px 5px;
      margin: 3px;
      background: $button;

      &:hover {
        // background: $button-hover;
        cursor: default;
        // color: lightcyan;
      }
    }
  }
}

// style for already owned 
.already-owned {
  width: 600px;
  height: 35px;
  color: #a3cf06;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: -moz-linear-gradient(left, rgba(163,207,6,0.6) 0%, rgba(75,106,33,0.6) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(163,207,6,0.6)), color-stop(100%,rgba(75,106,33,0.6)));
  background: -webkit-linear-gradient(left, rgba(163,207,6,0.6) 0%,rgba(75,106,33,0.6) 100%);
  background: -o-linear-gradient(left, rgba(163,207,6,0.6) 0%,rgba(75,106,33,0.6) 100%);
  background: -ms-linear-gradient(left, rgba(163,207,6,0.6) 0%,rgba(75,106,33,0.6) 100%);
  background: linear-gradient(to right, rgba(163,207,6,0.6) 0%,rgba(75,106,33,0.6) 100%);

}
