header {
  
  nav {
    width: 950px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .headerDiv {
    width: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .dropdownDiv {
    position: relative;

    .material-icons {
      margin: auto;
      margin-top: 10px;
    }
  
    ul {
      border: 1px solid black;
      position: absolute;
      // display: inline-block;
      min-width: 150px;
      top: 35px;
      right: 10px;

      li {
        padding: 0px 5px;
      }
    }

    a {
      display: block;
    }

    
  }

  .hidden {
    display: none;
  }
}

