header {
  // header properties
  background-color:  #33334d;

  // a tag properties
  a { 
    text-decoration: none;
    color: lightgrey;
  }

  // login
  .loginLinks {
    display: flex;
    align-content: center;
    height: 35px;
    // padding: 1px 10px;
    // text-align: center;

    p {
      color: lightgrey;
      margin: auto;
      padding: 0px 5px;
      display: block;
    }

    button {
      background-color: #67678f;
      color:cornflowerblue;
      border: 1px solid lightgrey;
      border-radius: 2px;
      margin-top: 2px;
      // margin: 1px 5px;
      height: 30px;
    }

    button:hover {
      background-color: #8c8cc2;
      color: lightblue;
      
    }

    .loginLink {
      display: block;
      border: 1px solid lightgrey;
      background-color: #67678f;
      color:cornflowerblue;
      border-radius: 2px;
      padding: 0px 5px;

      margin: auto;
      height: 30px;
    }
  
    .loginLink:hover {
      background-color: #8c8cc2;
      color: lightblue;
      }
  }

  .logo {
    margin: auto 0px;
    font-size: 50px;
  }

  .profilePicture {
    display: inline-block;
    background: asset-url('incognito.jpg');
    background-size: 35px 35px;
    cursor: pointer;
    // box-shadow: 1px 1px 1px 1px #1f1f2e1f;
    border: none;
    width: 35px;
    height: 35px;
  }

  .username {
    // margin: auto 0px;
    color: lightgrey;
    font-size: 16px;
  }

  nav {
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .headerDiv {
    // width: 50px;
    height: 35px;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
  }

  // .headerDiv:hover {
  //   ul {
  //     display: block;
  //   }
  // }
  
  .dropdownDiv {
    position: relative;
    // margin: auto;

    .material-icons {
      color: lightgrey;
      margin-top: 3px;
      cursor: pointer;
    }
  
    ul {
      background-color: #33334d;
      position: absolute;
      min-width: 150px;
      top: 35px;
      right: 10px;
      box-shadow: 1px 1px 5px 5px #1f1f2ee3;

      li {
        padding: 0px 5px;
        cursor: pointer;
        color: lightgrey;

        a {
          text-decoration: none;
          color: inherit;
        }

        span {
          color: cornflowerblue;
        }
      }

      li:hover {
        color: whitesmoke;
      }

    }
  }



  .hidden {
    display: none;
  }


  // nav items store, community, about, support
  .navItems {
    width: 350px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    position: relative;
    
    div, li {
      // margin: 10px 0px;
      color: lightgray;
      font-size: 20px;
      cursor: pointer;
    }

    div:hover, li:hover {
      color: whitesmoke;
    }

    .dropdown {
      position: absolute;
      display: none;
      background-color: #33334d;
      width: 110px;
      box-shadow: 1px 1px 5px 5px #1f1f2ee3;
      

      li {
        font-size: 16px;
        padding: 5px;
      }
    }

    div:hover .dropdown {
      display: block;
    }
  }
}

