$black: #171a21;
$button: #253c58;
$button-hover: #2e5788;

// %slider {
//   display: flex;
//   height: 300px;
//   overflow-x: hidden;
// }

%button {
  color: cornflowerblue;
  background-color: $button;
}

%button-hover {
  background-color: $button-hover;
  color: lightgrey;
}

.sliderDiv {
  width: 600px;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition-duration: 0.5s;
  // height is determined by slider.jsx component


  .selected {
    border: 2px solid white;
    padding: 1px;
  }
}

.sliderButtons {
  display: flex;
  justify-content: space-between;
  height: 25px;
  margin: 5px 0px;

  .goRight, .goLeft {
    width: 5%;
    @extend %button;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;

    &:hover, &:hover {
      @extend %button-hover;
    }
  }

  .scrollbar {
    width: 89%;
    background: $black;
    border-radius: 5px;

    .scroller {
      width: 10%;
      height: 100%;
      border-radius: 5px;
      @extend %button;
      cursor: grab;

      // testing transitions
      &:active {
        cursor: grabbing;
        transition-duration: .25s;
        transform: translateX(300%);
      }

      &:hover {
        @extend%button-hover;
      }
    }
  }
}