$black: #171a21;
$button: #253c58;
$button-hover: #2e5788;

// %slider {
//   display: flex;
//   height: 300px;
//   overflow-x: hidden;
// }

%button {
  color: cornflowerblue;
  background-color: $button;
}

%button-hover {
  background-color: $button-hover;
  color: lightgrey;
}

.sliderDiv {
  // width: 600px;
  margin: auto;
  overflow: hidden;

  img { 
    cursor: pointer;
    object-fit: cover;
    // position: relative;
  }
}

// create transition zoom effect on hover
img{
  opacity: 0.85;
  transition-duration: .2s;
  transform: scale(0.99);

  &:hover {
    opacity: 1;
    border: none;
    transform: scale(1);
    z-index: 10;
    overflow: visible;
  }
}

.main-image {
  width: 600px;
  height: 350px;
}

.slider {
  z-index: -1;
  display: flex;
  transition-duration: 0.5s;
  // height is determined by slider.jsx component


  .selected {
    border: 2px solid white;
    padding: 1px;
  }
}

.sliderButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // height: 25px;
  
  // margin: 5px 0px;

  .goRight, .goLeft {
    height: 15px;
    width: 5%;
    @extend %button;
    border: none;
    border-radius: 5px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;

    &:hover, &:hover {
      @extend %button-hover;
    }

    
  }

  .tabsBar {
    width: 80%;
    border-radius: 5px;

    .tabs {
      margin: auto;
      height: 25px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    
    .tab {
      width: 15px;
      height: 10px;
      border-radius: 3px;
      background: $button;
      // @extend %button;
      transition-duration: .50s;
      cursor: pointer;

      // testing transitions
      // &:active {
      //   cursor: grabbing;
      //   transition-duration: .25s;
      //   transform: translateX(300%);
      // }

      &.selected {
        @extend %button-hover;
      }

      &:hover {
       background-color: #4b88d3;
      }
    }
  }
}